/* IE 7 spesific rules */

.container.top {
    height: 45px;
}

.minimenu ul li {
	margin-left: 20px;
}

nav ul li {
    top: 3px;
}

nav ul li a {
    /* display: inline-block;
    height: 35px; */
}

.row.submenues {
	z-index: 20;
	overflow: visible;
}

.submenu.open {
    position: absolute;
    background: white;
}

.submenu {
    width: 1150px;
    top: 0;
}

.submenu.anskaffelser {
	width: 900px;
	padding-left: 250px;
}

.submenu.ledelse {
	width: 700px;
	padding-left: 450px;
}

.submenu.forvaltning {
	width: 600px;
	padding-left: 550px;
}


.submenu.current_topic {
	width: 100%;
	padding-left: 0;
}

.submenu.current_topic li {
	float: left;
}

.navigationmenu li {
    display: inline;
    padding-right: 2em;
}


.standardbox .mod-hd{
	background-image: url(../img/symbol_green.png);
	background-repeat: no-repeat;
	background-position: 20px center;
	height: 25px;
	line-height: 25px;
}

.featurebox .mod-hd{
	background-image: url(../img/symbol_feature.png);
	background-repeat: no-repeat;
	background-position: 20px center;
	height: 25px;
	line-height: 25px;
}

.purplebox .mod-hd{
	background-image: url(../img/symbol_purple.png);
	background-repeat: no-repeat;
	background-position: 20px center;
	height: 25px;
	line-height: 25px;
}

.pinkbox .mod-hd{
	background-image: url(../img/symbol_pink.png);
	background-repeat: no-repeat;
	background-position: 20px center;
	height: 25px;
	line-height: 25px;
}

.orangebox .mod-hd{
	background-image: url(../img/symbol_orange.png);
	background-repeat: no-repeat;
	background-position: 20px center;
	height: 25px;
	line-height: 25px;
}

.minid .mod-wrap {
	margin-top: 10px;
}

.minid .mod-hd{
	background-image: url(../img/minid_symbol.png);
	background-repeat: no-repeat;
	background-position: 20px center;
	height: 85px;
	line-height: 25px;
}

.minid {
	border: 1px solid #eaeaea;
}

.chapterinfo ul li {
	list-style-type: disc;
}

.footer ul li {
	margin-left: 10px;
	margin-right: 10px;
}

.submenu.horinger {
	width: 960px;
	padding-left: 190px;
}

.submenu.utredninger {
	width: 870px;
	padding-left: 280px;
}

.submenu.sporsmal {
	width: 680px;
	padding-left: 470px;
}

.submenu.moter {
	width: 530px;
	padding-left: 620px;
}

.submenu.jobbar {
	width: 410px;
	padding-left: 740px;
}

.submenu.paverket {
	width: 270px;
	padding-left: 880px;
}